@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{ 
        @apply  text-white px-2 py-1 rounded-md border  bg-purple-600
    }
    .heading{
        @apply text-4xl font-bold text-center text-purple-500 mt-2
    }
    .spinner {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: radial-gradient(farthest-side,#474bff 94%,#0000) top/9px 9px no-repeat,
               conic-gradient(#0000 30%,#474bff);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        animation: spinner-c7wet2 1s infinite linear;
     }
     
     @keyframes spinner-c7wet2 {
        100% {
           transform: rotate(1turn);
        }
     }
}