
.ticker-wrap{
    border:2px solid red;
    overflow: hidden;
}


.marquee-animation{
    animation: moveLine;  
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes moveLine {
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
}

.marquee-hover:hover>div{
    animation-play-state: paused;
}

/* hero slider  */
.slick-dots{
    bottom: 30px;
} 
.HeroSlider .slick-dots .slick-active{
    border-radius: 50%;
    background-color:rgb(196, 181, 181);
}

/* product cards slider*/
/* .categories-slider{
    position: relative;
   
} */

.categories-slider .slick-prev:before{
    background-color: black;
    border-radius: 50%;
}
.categories-slider .slick-prev:before:hover{
    background-color: black;
}
.categories-slider .slick-next:before{
    background-color: black;
    border-radius: 50%;
}
.categories-slider .slick-next:before:hover{
    background-color: black;
}

/* slick slider arrow */

 .slick-prev:before{
    background-color: black;
    border-radius: 50%;
    display: none;
}
 .slick-prev:before:hover{
    background-color: black;
}
 .slick-next:before{
    background-color: black;
    border-radius: 50%;
    display: none;
}
 .slick-next:before:hover{
    background-color: black;
}

/* gram container */
.gram-container .slick-dots li button:before{
    font-size: 15px;
    top: 30px;
}
.gram-container .slick-prev:before{
    display: none;
   
    
}

/* swiper container */
.swiper-container .slick-dots li button:before{
    font-size: 15px;
    top: 60px;
}



