.ticker-wrap{
    border:2px solid red;
    overflow: hidden;
    
}

.marquee-animation{
    
    animation: moveLine;  
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}

@keyframes moveLine {
    0%{
        transform: translateX(0);
        
    }
    100%{
        transform:translateX(-100%);
    }
}

.marquee-hover:hover>div{
    animation-play-state: paused;
}

/* hero slider  */
.slick-dots{
    bottom: 30px;
} 
.HeroSlider .slick-dots .slick-active{
    border-radius: 50%;
    background-color:rgb(196, 181, 181);
}

/* product cards slider*/

.slick-prev{
    /* border: 2px solid blue;
    border-radius: 50%;
    padding:10px; */
    background-color: black;
    top: -65px;
    left: 10px;
}
.slick-prev:hover{
    background-color: black;
}
.slick-next{
    background-color: black;
    top: -65px;
    left: 50px;
}
.slick-next:hover{
    background-color: black;
}